extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='area_name') Area Name:
      input#area_name.form-control(type='text' placeholder='Area name' name='area_name' required='true' value=(undefined===area ? '' : area.area_name) )
    div.form-group
      label(for='state') State:
      input#state.form-control(type='text' name='state' value=(undefined===area ? '' : area.state) )
    div.form-group
      label(for='added_by') Added By:
      input#added_by.form-control(type='text' placeholder='Username' name='added_by' value=(undefined===area ? '' : area.added_by) )
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg